<!DOCTYPE html>
{% extends "base.html" %}

{% block body %}

<div id="content1">
    <h4 style="text-align: center; margin: 2% auto 0 auto">Your Submitted Reports</h4>
<table class="sortable" id="history">
    <col width="180">
    <col width="210">
    <col width="220">
    <col width="200">
    <thead>
    <tr>
        <th>Date of disaster <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Type of disaster <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Address <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Estimated damage <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Edit link <i class="fa fa-sort" aria-hidden="true"></i></th>
    </tr>
    </thead>
    <tbody>
    {% for report in reports %}
        <tr>
            <td sorttable_custom_key="{{ report.date_num }}">
                {{ report.date_of_disaster }}
            </td>
            <td>
                {{ report.type_of_disaster }}
            </td>
            <td>
                {{ report.street_address }}<br>
                {% ifnotequal report.address_line_2 "" %}
                    {{ report.address_line_2 }}<br>
                {% endifnotequal %}
                {{ report.city }}, {{ report.state }} {{ report.zipcode }}
            </td>
            <td>
                {% if report.estimated_damage < 0 %}
                    NA
                {% else %}
                    ${{ report.estimated_damage }}
                {% endif %}

            </td>
            <td>
                <a href="/form/{{ report.id }}">Link</a>
            </td>
        </tr>
	{% endfor %}
    </tbody>
</table>
	

</div>

<style>

#content1{
	margin: auto auto auto auto;
}
table{
    margin: auto auto auto auto;
}
table, th, tr, td{
    border: 50px solid white;
}

</style>

{% endblock %}

