<!DOCTYPE html>
{% extends "base.html" %}

{% block body %}
<div id="content1">
    <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form.non_field_errors }}
<div class="menu col-md-1" style="width: 20%">
    <br><br><br>
<ul class="nav nav-pills nav-stacked">
    <li class="active"><a id="personalnav" data-toggle="pill" href="#personal">Personal Information</a></li>
    <li><a id="propertynav" data-toggle="pill" href="/form/#property">Property Information</a></li>
    <li><a id="damage1nav" data-toggle="pill" href="/form/#damage1">Damage Information I</a></li>
    <li><a id="damage2nav" data-toggle="pill" href="/form/#damage2">Damage Information II</a></li>
<!--     <li><a id="damage3nav" data-toggle="pill" href="/form/#damage3">Damage Information III</a></li>
    <li><a id="damage4nav" data-toggle="pill" href="/form/#damage4">Damage Information IV</a></li> -->
</ul>
</div>

<div class="tab-content col-md-3" style="width:70%">
    <div id="errors" style="padding-left: 90px">
        {% if address_invalid %}
        <p class="address_error">The address you entered could not be found. Please check your spelling and try again.</p>
        {% endif %}
        {% if address_duplicate %}
        <p class="address_error">The address you entered has already been used for this disaster. Please check your spelling and try again. If you have used this address in the last 30 days, you can <a href="/formhistory/">edit</a> the form.</p>
        {% endif %}
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <p class="address_error">There was an error with the {{ field }} question: {{ error }}</p>
        {% endfor %}
        {% endfor %}
    </div>
    
    <div id="personal" class="tab-pane fade in active">
        <h3>Personal Information</h3>
        <table id="personalinfo" style="width: 85%">
            <tr>
                <td>First name:</td>    
                <td>{{ form.first_name }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{ form.last_name }}</td>
            </tr>
            <tr>
                <td>Street address:</td>
                <td>{{ form.street_address }}</td>
            </tr>
            <tr>
                <td>Address line 2:</td>
                <td>{{ form.address_line_2 }}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{ form.city }}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{ form.state }}</td>
            </tr>
            <tr>
                <td>Zip code:</td>
                <td>{{ form.zipcode }}</td>
            </tr>
        </table>
        <div style="display:inline-block; text-align:justified; padding: 20px 0 0 200px">
        <button type="button" class="btn btn-default next-button" data-nav="propertynav">Next</button>
    </div>
    </div>

    <div id="property" class="tab-pane fade">
    <h3>Property Information</h3>
        <table id="propertyinfo" style="width: 85%">
            <tr><td>Type of Residence:</td></tr>
            <tr><td>{{ form.type_of_residence }}</td></tr>
            <tr><td>Type of Occupancy:</td></tr>
            <tr><td>{{ form.type_of_occupancy }}</td></tr>
            <tr>
                <td>Is your residence insured?</td>
                <td>{{ form.insured }}</td>
            </tr>
            <tr>
                <td>What was the market value of your property before the disaster? Enter 0 if you do not know.</td>
                <td>{{ form.predisaster_value }}</td>
            <tr>
        </table>
        <table>
            <tr>
            <td><h5><div id="optional_check">Check the box if your answer is yes to the following questions:</div></h5></td></tr>
            <tr>
                <td>Does your residence carry a mortgage?</td>
                <td>{{ form.mortgage }}</td>
            </tr>
            <tr>
                <td>Have you owned your home for over 30 years?</td>
                <td>{{ form.owned_less_than_30_years }}</td>
            </tr>
        </table>
        <div style="display:inline-block; text-align:justified; padding: 20px 0 0 200px">
        <button type="button" class="btn btn-default previous-button" data-nav="personalnav">Previous</button>
        <button type="button" class="btn btn-default next-button" data-nav="damage1nav">Next</button>
    </div>
    </div>

    <div id="damage1" class="tab-pane fade">
    <h3>Disaster Damage Information I</h3>
        <table id="damageinfo" style="width: 85%">
            <tr><td>Type of Disaster:</td></tr>
            <tr><td>{{ form.type_of_disaster }}</td></tr>
            <tr>
                <td>Approximate date of the disaster:</td>
                <td>{{ form.date_of_disaster }}</td>
            </tr>
        </table>
        <table id="waterdamage" style="width: 85%">
            <td><h5>Check the box if your answer is yes to the following questions:</h5></td>
            <tr><td>Is there water damage in your home?</td><td>{{ form.water_damage }}</td></tr>
            <tr><td>Do you have a mobile home?</td><td>{{ form.water_mobilehome }}</td></tr>
            <tr><td>Is water level less than 6 inches deep on the floor?</td><td>{{ form.water_mobilehome_minor }}</td></tr>
            <tr><td>Do you have plywood flooring in your mobile home?</td><td>{{ form.water_mobilehome_major_plywood}}</td></tr>
            <tr><td>Is water between 6 inches to 2 feet deep on the plywood floor?</td><td>{{ form.water_mobilehome_major_plywood_yes }}</td></tr>
            <tr><td>Is water between 1 inch to 2 feet deep on your nonplywood floor?</td><td>{{ form.water_mobilehome_major_nonplywood }}</td></tr>
            <tr><td>Is water greater than 2 feet deep on your floor?</td><td>{{ form.water_mobilehome_destroyed }}</td></tr>
            <tr><td>Is water between 2 and 3 inches on your first floor?</td><td>{{ form.water_conventionalhome_minor }}</td></tr>
            <tr><td>Is water between 3 inches and 5 feet on your first floor?</td><td>{{ form.water_conventionalhome_major }}</td></tr>
            <tr><td>Is water greater than 5 feet on your first floor?</td><td>{{ form.water_conventionalhome_destroyed }}</td></tr>
        </table>
        <div style="display:inline-block; text-align:justified; padding: 20px 0 0 200px">
        <button type="button" class="btn btn-default previous-button" data-nav="propertynav">Previous</button>
        <button type="button" class="btn btn-default next-button" data-nav="damage2nav">Next</button>
    </div>
    </div>

    <div id="damage2" class="tab-pane fade">
        <h3>Disaster Damage Information II</h3><br>
        <!--<h4>Minor Damage</h4>-->
        <table id="minordamage" style="width: 85%">
            <td><h5>Check the box if your answer is yes to the following questions:</h5></td>
            <tr><td>Is there more than 1 foot of sewage in your home?</td><td>{{ form.sewage }}</td></tr>
            <tr><td>Are there broken windows?</td><td>{{ form.minor10_0 }}</td></tr>
            <tr><td>Is there damage to landscaping?</td><td>{{ form.minor10_1 }}</td></tr>
            <tr><td>Is more than 50% of your home damaged?</td><td>{{ form.minor10_2 }}</td></tr>
        </table>
        <div style="display:inline-block; text-align:justified; padding: 20px 0 0 200px">
        <button type="button" class="btn btn-default previous-button" data-nav="damage1nav">Previous</button>
        <a class="btn btn-default" data-toggle="pill" href="/form/#damage3">Next</a>
    </div>
    </div>

    <div id="damage3" class="tab-pane fade">
        <h3>Disaster Damage Information III</h3><br>
        <!--<h4>Major Damage</h4>-->
        <table id="major" style="width:85%">
            <td><h5>Check the box if your answer is yes to the following questions:</h5></td>
            <tr><td>If you have a chimney, is it no longer functional?</td><td>{{ form.major20_0 }}</td></tr>
            <tr><td>If you have a carpet on the first floor, is the majority of it soaked?</td><td>{{ form.major20_1 }}</td></tr>
            <tr><td>If you have a parking lot, it is damaged?</td><td>{{ form.major20_2 }}</td></tr>

            <tr><td>Is there damage from smoke?</td><td>{{ form.major30_0 }}</td></tr>
            <tr><td>Is the fire escape inoperable?</td><td>{{ form.major30_1 }}</td></tr>
            <tr><td>Are roof tiles missing?</td><td>{{ form.major30_2 }}</td></tr>
            <tr><td>Are your vehicles damaged?</td><td>{{ form.major30_3 }}</td></tr>

            <tr><td>Is there minor damage to interior flooring?</td><td>{{ form.major40_0 }}</td></tr>
            <tr><td>Is there minor damage to exterior walling?</td><td>{{ form.major40_1 }}</td></tr>
            <tr><td>Are there fallen trees on your home?</td><td>{{ form.major40_2 }}</td></tr>

            <tr><td>Is there at least one room that is destroyed?</td><td>{{ form.major50_0 }}</td></tr>
            <tr><td>Are any exits blocked?</td><td>{{ form.major50_1 }}</td></tr>
            <tr><td>Are any utilities damaged? (furnace, water heater, well, septic system, etc)</td><td>{{ form.major50_2 }}</td></tr>

            <tr><td>Is the foundation of your home damaged?</td><td>{{ form.major60_0 }}</td></tr>
            <tr><td>Is the insulation in your home damaged?</td><td>{{ form.major60_1 }}</td></tr>

            <tr><td>Is the exterior frame of your home damaged?</td><td>{{ form.major74_0 }}</td></tr>
            <tr><td>Is the roof off or collapsed?</td><td>{{ form.major74_1 }}</td></tr>
            <tr><td>Are accessory outbuildings damaged?</td><td>{{ form.major74_2 }}</td></tr>
        </table>
        <div style="display:inline-block; text-align:justified; padding: 20px 0 0 200px">
        <!-- <button type="button" class="btn btn-default previous-button" data-nav="damage2nav">Previous</button> -->
        <a class="btn btn-default" data-toggle="pill" href="/form/#damage2">Previous</a>
        <a class="btn btn-default" data-toggle="pill" href="/form/#damage4">Next</a>
        </div>
    </div>

    <div id="damage4" class="tab-pane fade">
        <h3>Disaster Damage Information IV</h3><br>
        <!--<h4>Destroyed</h4>-->
        <table id="destroyed" style="width: 85%">
            <td><h5>Check the box if your answer is yes to the following questions:</h5></td>
            <tr><td>Is there flooding above the first floor?</td><td>{{ form.destroyed80_0 }}</td></tr>
            <tr><td>Did your home move off its foundation?</td><td>{{ form.destroyed80_1 }}</td></tr>
            <tr><td>Did any walls collapse?</td><td>{{ form.destroyed80_2 }}</td></tr>
            <tr><td>Is your home permanently uninhabitable?</td><td>{{ form.destroyed80_3 }}</td></tr>
            <tr><td>Does your home require demolition because it is in danger due to landslides, mudslides, sinkholes, beach erosion, etc?</td><td>{{ form.destroyed80_4 }}</td></tr>

            <tr><td>Did your home come off the foundation?</td><td>{{ form.destroyed90_0 }}</td></tr>
            <tr><td>Is the second floor of your home completely gone?</td><td>{{ form.destroyed90_1 }}</td></tr>

            <tr><td>Is your home leveled above the foundation, and is the basement and foundation damaged?</td><td>{{ form.destroyed100_0 }}</td></tr>
            <tr><td>Is there flooding above the eaves (edge of the roof)?</td><td>{{ form.destroyed100_1 }}</td></tr>
        </table>
        <div style="display:inline-block; text-align:left; padding: 20px 0 0 200px">
        <a class="btn btn-default" data-toggle="pill" href="/form/#damage3">Previous</a>
    </div>
        <button type="button" class="btn btn-default" input type="submit" value="Submit">Submit</button>
    </div>  
</div>
    
</form>

<style>
#content1{
    margin: auto auto auto auto;
    width: 90%;
}

#menu{
    margin: 15% auto auto auto;
    position: fixed;
}
.nav-pills{
    position: fixed;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:white;
    outline: solid 2px black;
    color: black;
    }
.nav-pills > li > a{
    color: black;
}

#tab-content{
    position: absolute;
}

#personal{
    margin: auto auto 20% 15%;
}
#property{
    margin: auto auto 20% 15%;
}
#damage1{
    margin: auto auto 20% 15%;
}
#damage2{
    margin: auto auto 20% 15%;
}
#damage3{
    margin: auto auto 20% 15%;
}
#damage4{
    margin: auto auto 20% 15%;
}

ul{
    list-style: none;
    font-style: normal;
}

input[type="radio"]{
    display: inline-block;
}

table, th, tr, td{
    border: 20px solid white;
}
</style>

<script type="text/javascript">
    var table_index=$('table').index($('#id_sewage').closest('table'));
    var row_index=$('table:eq('+table_index+') tr').index($('#id_sewage').closest('tr'));
    function check_mortgage(){
        var text=$('#id_insured').find(':selected').text();
        var occupancy=$('#id_type_of_occupancy_0').prop('checked');
        if(occupancy!==true){
            $('#id_mortgage').closest('tr').hide();
            $('#id_owned_less_than_30_years').closest('tr').hide();
            $('#optional_check').closest('tr').hide();
        } else if(text==='Yes'||text==='No'||text===''){
            $('#id_mortgage').closest('tr').hide();
            $('#id_owned_less_than_30_years').closest('tr').hide();
            $('#optional_check').closest('tr').hide();
        }else{
            $('#id_mortgage').closest('tr').show();
            $('#id_owned_less_than_30_years').closest('tr').show();
            $('#optional_check').closest('tr').show();
        }
    }

    function check_water_mobilehome_major_plywood_yes(){
        var checked=$('#id_water_mobilehome_major_plywood_yes').prop('checked');
        if(checked===true){

        }else{
            $('#id_water_mobilehome_destroyed').closest('tr').show();
        }
    }

    function check_water_mobilehome_major_nonplywood(){
        var checked=$('#id_water_mobilehome_major_nonplywood').prop('checked');
        if(checked===true){

        }else{
            $('#id_water_mobilehome_destroyed').closest('tr').show();
        }
    }

    function check_water_mobilehome_major_plywood(){
        var checked=$('#id_water_mobilehome_major_plywood').prop('checked');
        if(checked===true){
            $('#id_water_mobilehome_major_plywood_yes').closest('tr').show();
            check_water_mobilehome_major_plywood_yes();
        }else{
            $('#id_water_mobilehome_major_nonplywood').closest('tr').show();
            check_water_mobilehome_major_nonplywood();
        }
    }

    function check_water_mobilehome_minor(){
        var checked=$('#id_water_mobilehome_minor').prop('checked');
        if(checked===true){

        }else{
            $('#id_water_mobilehome_major_plywood').closest('tr').show();
            check_water_mobilehome_major_plywood();
        }
    }

    function check_water_conventionalhome_major(){
        var checked=$('#id_water_conventionalhome_major').prop('checked');
        if(checked===true){

        }else{
            $('#id_water_conventionalhome_destroyed').closest('tr').show();
        }
    }

    function check_water_conventionalhome_minor(){
        var checked=$('#id_water_conventionalhome_minor').prop('checked');
        if(checked===true){

        }else{
            $('#id_water_conventionalhome_major').closest('tr').show();
            check_water_conventionalhome_major();
        }
    }

    function check_water_mobilehome(){
        var checked=$('#id_water_mobilehome').prop('checked');
        if(checked===true){
            $('#id_water_mobilehome_minor').closest('tr').show();
            check_water_mobilehome_minor();
        }else{
            $('#id_water_conventionalhome_minor').closest('tr').show();
            check_water_conventionalhome_minor();
        }
    }

    function check_water_damage() {
        var checked=$('#id_water_damage').prop('checked');
        if(checked===true){
            $('#id_water_mobilehome').closest('tr').show();
            check_water_mobilehome();
        }
    }

    $('[id^=id_]').change(function () {
        hide_questions();
        check_water_damage();
        $('[id^=id_water]').filter(':hidden').prop('checked',false);
    });

    $('#id_insured').change(function () {
        check_mortgage();
    });

     $('[id^=id_type_of_occupancy_]').change(function () {
        var text=$('#id_type_of_occupancy_0' ).prop("checked");
         if(text===true){
             check_mortgage();
         }else{
            $('#id_mortgage').closest('tr').hide();
            $('#id_owned_less_than_30_years').closest('tr').hide();
            $('#optional_check').closest('tr').hide();
         }
     });

    function show_next_question(){
        if($('input[type="submit"]').is(':visible')){
            return;
        }
        row_index++;
        if($('table:eq('+table_index+') tr').length==row_index){
            table_index++;
            row_index=0;
            if(table_index>=$('table').length){
                $('input[type="submit"]').show();
                return;
            }
        }
        $('table:eq('+table_index+') tr:eq('+row_index+')').show();
    }

    function check_showing_questions() {
        if ($(window).scrollTop() + $(window).innerHeight() > $(document).height() * 0.92) {
            if ($('#id_type_of_disaster').find($(':checked')).length > 0) {
                show_next_question();
            }
        }
    }

    $('#id_type_of_disaster').change(function () {
        check_showing_questions();
    });

    $( document ).ready(function() {
        $(window).scroll(function () {
            check_showing_questions();
        });
        hide_questions();
        //$('input[type="submit"]').hide();
        $('#id_mortgage').closest('tr').hide();
        $('#id_owned_less_than_30_years').closest('tr').hide();
        $('#optional_check').closest('tr').hide();
        check_mortgage();
        check_water_damage();
    });

    function hide_questions() {
        $('[id^=id_water_mobilehome]').closest('tr').hide();
        $('[id^=id_water_conventionalhome]').closest('tr').hide();
        // $('[id^=id_minor]').closest('tr').hide();
        // $('[id^=id_major]').closest('tr').hide();
        // $('[id^=id_destroyed]').closest('tr').hide();
    }

     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });

    $('.next-button').click(function () {
        var nav=$(this).attr('data-nav');
        $('#'+nav).click();
    });
    $('.previous-button').click(function () {
        var nav=$(this).attr('data-nav');
        $('#'+nav).click();
    });

</script>
</div>
{% endblock %}